<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class="p-12 uppercase bg-indigo-800">
    <header class="p-12">
      <h1 class="text-3xl mb-8">{{title}}</h1>
    </header>

    <main class="p-12">
      {{ content | safe }}
    </main>

    <footer class="p-12">
      &copy; 2022
    </footer>
    <script src="/assets/main.js"></script>
  </body>
</html>
