<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&display=swap" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class="uppercase bg-kd-blonde">
    <header class="p-12 absolute bottom-10">
      <h1 class="text-3xl font-bst text-kd-green">{{title}}</h1>
    </header>
    <main class="p-12">
      {{ content | safe }}
    </main>
    <footer class="p-12 text-kd-indigo font-mono absolute bottom-2">
      &copy; 2022
    </footer>
    <script src="/assets/main.js"></script>
  </body>
</html>
