<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen,print"  />
    <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/site.webmanifest">
    <meta name="description" content="jdkunesh.com has the latest from Jason Kunesh in work and play. Life, in fact." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:url" content="https://jdkunesh.com/" />
    <meta property="og:title" content="Jason Kunesh" />
    <meta property="og:description" content="Jason Kunesh: current events in work and play" />
    <meta property="og:image" content="https://jdkunesh.com/img/kunesh-emojicon-social.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jason Kunesh" />
    <meta property="twitter:description" content="jdkunesh.com has the latest from Jason Kunesh in work and play. Life, in fact." />
    <meta property="twitter:image" content="https://jdkunesh.com/img/kunesh-emojicon-social.png" />
  </head>
  <body class="pt-12 flex flex-col place-content-center items-center justify-center bg-kd-tangerine">
    <main class="w-72 sm:w-80 md:w-96 pt-36 md:pt-24 lg:pt-18 xl:pt-12">
      {{ content | safe }}
    </main>
    <div class="grid grid-cols-2 grid-rows-1 gap-0 md:gap-8 lg:gap-12 items-stretch">
        <a href="https://kunesh.design/">
        <div class="kd-card uppercase font-bsst text-4xl sm:text-5xl md:text-7xl font-bold tracking-normal">
          work
        </div>
        </a>
        <a href="https://jasonkunesh.com/">
        <div class="kd-card uppercase font-bsti text-4xl sm:text-5xl md:text-7xl font-extrabold tracking-wide">
        play
        </div>
        </a>
      </div>
    <footer class="text-center">
      <p class="text-kd-gray-dark font-mono">&copy; 2023</p>
    </footer>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@800&text=PLAYCURENT&display=swap" rel="stylesheet" media="screen,print" />
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&text=WORK&display=swap" rel="stylesheet" media="screen,print" />
    <script src="/assets/main.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TCQ7NL9WS0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TCQ7NL9WS0');
    </script>

  </body>
</html>
