---
title: Home
layout: layouts/base.njk
---

<div class="space-y-8">
  <div>
    <ul>
    <li><a href="https://kunesh.design/">work</a></li>
    <li><a href="https://jasonkunesh.com/">play</a></li>
    </ul>
  </div>
</div>
