---
title: Jason Kunesh
layout: layouts/base.njk
---

<div class="p-8 md:p-4 flex flex-col items-center justify-center h-screen">
{% image "src/img/kunesh-emojicon-512px.png", "Kunesh emojicon", "400" %}
  <div class="grid grid-cols-2 grid-rows-1 gap-16 items-stretch py-2">
    <div class="kd-card border-dashed hover:border-dotted">
    <a href="https://kunesh.design/" class="uppercase font-bsst text-7xl font-bold tracking-normal">work</a>
    </div>
    <div class="kd-card border-dotted hover:border-dashed">
    <a href="https://jasonkunesh.com/" class="uppercase font-bsti text-7xl font-extrabold tracking-wide">play</a>
    </div>
  </div>
</div>
